# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files (VERY IMPORTANT for your dataset)
data/raw/
data/processed/

# Models
models/
*.pkl
*.joblib

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Large files
*.csv
*.parquet
*.h5